.itempage__container {
    display: grid;
    background-color: var(--color-primary-blue);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    grid-template-columns: 1fr 7fr;
    
    color: white;
    width: 100%;
}

.newItem__container {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 2rem;
}