<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="What If Rishi's Wife Paid Her Tax"
    content="Funny website of items you could buy with the tax owed - page not found"
    />
    <title>Error 404 || Not Found</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
      h1,
      h2 {
        color: white;
      }
    </style>
  </head>
  <body
    style="
      display: grid;
      place-content: center;
      background-color: black;
      height: 100vh;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    "
  >
    <h1>
      PAGE NOT FOUND <br />
      404 ERROR
    </h1>

    <h2>WIRWPHT</h2>
  </body>
</html>
