@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    outline: 0;
    text-decoration: none;
}

:root {
    --color-bg: #fff;
    --color-primary-red: #c9082a;
    --color-primary-blue: #001b69;
    --color-primary-white: #ffffff;

    --color-border: #000000;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    line-height: 1.7;
}

/* ================= GENERAL STYLES ================= */


h1,
h2,
h3,
h4,h5,h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

/* All components are wrapped in a section tag */

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary-white);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary-red);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary-blue);
    padding: 0.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-border);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn__alt {
    width: max-content;
    display: inline-block;
    color: var(--color-primary-white);
    padding: 0.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background: var(--color-primary-red);
    border: 1px solid var(--color-border);
    transition: var(--transition);
}

.btn__alt:hover {
    background: var(--color-white);
    border-color: var(--color-border);
    color: black;
}


/* Media Queries (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    
}

/* Media Queries (Small DEVICES) */
@media screen and (max-width: 600px) {
    
}